
button{
    font-size: 16px;
    width: 100px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;

}
.CounterButton {
    background-color: #00a5ab;

}
.ResetButton {
    background-color: #824f8c;
}

.TotalCount {
    color: #00a5ab;
    font-size: 150px;
    padding: 20px;
}